 h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    background-color: #333;
    padding: 2%;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: #333;
}

.toc {
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 2em;
}

.break {
    color: #333;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    font-family: 'Courier New', Courier, monospace;
}
